# ==============================================================================
# GEDIT SPECIFIC SETTINGS
# ==============================================================================

style "gedit-fix"
{
#	GeditStatusbar	::shadow-type	= GTK_SHADOW_NONE
#	GtkStatusbar	::shadow-type	= GTK_SHADOW_NONE

#	fg[NORMAL]        = "#00ff00"
#	fg[PRELIGHT]      = "#00ff00"
#	fg[SELECTED]      = "#00ff00"
#	fg[ACTIVE]        = "#00ff00"
#	fg[INSENSITIVE]   = "#00ff00"

#	bg[NORMAL]        = "#00ff00"
#	bg[PRELIGHT]      = "#00ff00"
#	bg[SELECTED]	  = "#00ff00"
#	bg[INSENSITIVE]   = "#00ff00"
#	bg[ACTIVE]        = "#00ff00"

#	base[NORMAL]      = "#00ff00"
#	base[PRELIGHT]    = "#00ff00"
#	base[ACTIVE]      = "#00ff00"
#	base[SELECTED]    = "#00ff00"
#	base[INSENSITIVE] = "#00ff00"

#	text[NORMAL]      = "#00ff00"
#	text[PRELIGHT]    = "#00ff00"
#	text[ACTIVE]      = "#00ff00"
#	text[SELECTED]    = "#00ff00"
#	text[INSENSITIVE] = "#00ff00"

#	xthickness	= 0
#	ythickness	= 0
}

style "gedit-statusbar-frame"
{
	engine "murrine"
	{
		contrast	= 0.0
	}
}

widget "GeditWindow.GtkVBox.GeditStatusbar.GeditStatusComboBox.GtkFrame"	style "gedit-statusbar-frame"















